@import "./_theme.scss";
@import "./variables_g.scss";

header, footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: center;
	transition-duration: 0.3s;
	@include font_color("font_color1");
	@include background_color("background_color2");
}
header {
    font-weight: $title_weight;
	font-size: $title_size;
	line-height: $title_size;
}